{% extends 'base.html' %}

{% block content %}
  
{% load static %}
 
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>TableFinder</span></h1>
          <h3>Delivering great food for more than 18 years!</h3>

          <div class="btns">
            <a href="{% url 'home' %}#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="{% url 'booking_page' %}" class="btn-book animated fadeInUp scrollto">Book a Table</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Menu</h2>
        <p>Check Our Tasty Menu</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-starters">Starters</li>
            <li data-filter=".filter-salads">Salads</li>
            <li data-filter=".filter-specialty">Specialty</li>
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-6 menu-item filter-starters">
          <img src="{% static 'img/menu/lobster-bisque.jpg' %}" class="menu-img" alt="">
          
          <div class="menu-content">
            <a href="#">Lobster Bisque</a><span>$5.95</span>
          </div>
          <div class="menu-ingredients">
            Creamy lemon-garlic sauce pairs perfectly with fresh lobster
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <img src="{% static 'img/menu/bread-barrel.jpg' %}" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Bread Barrel</a><span>$6.95</span>
          </div>
          <div class="menu-ingredients">
            Enjoy our delicious artisanal bread, fresh from the Bread Barrel
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <img src="{% static 'img/menu/cake.jpg' %}" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Crab Cake</a><span>$7.95</span>
          </div>
          <div class="menu-ingredients">
            A delicate crab cake served on a toasted roll with lettuce and tartar sauce
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <img src="{% static 'img/menu/caesar.jpg' %}" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Caesar Selections</a><span>$8.95</span>
          </div>
          <div class="menu-ingredients">
            Our fresh Caesar salad, a classic dish
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <img src="{% static 'img/menu/tuscan-grilled.jpg' %}" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Tuscan Grilled</a><span>$9.95</span>
          </div>
          <div class="menu-ingredients">
            Grilled chicken with provolone, artichoke hearts, and roasted red pesto
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-starters">
          <img src="{% static 'img/menu/mozzarella.jpg' %}" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Mozzarella Stick</a><span>$4.95</span>
          </div>
          <div class="menu-ingredients">
            Delectable Mozzarella Sticks with a kick of hot sauce
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <img src="{% static 'img/menu/greek-salad.jpg' %}" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Greek Salad</a><span>$9.95</span>
          </div>
          <div class="menu-ingredients">
            A colorful blend of fresh spinach, crisp romaine, juicy tomatoes, Greek olives
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-salads">
          <img src="{% static 'img/menu/spinach-salad.jpg' %}" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Spinach Salad</a><span>$9.95</span>
          </div>
          <div class="menu-ingredients">
            Our Spinach Salad is a delightful blend of fresh spinach, ripe tomatoes, bacon bits
          </div>
        </div>

        <div class="col-lg-6 menu-item filter-specialty">
          <img src="{% static 'img/menu/lobster-roll.jpg' %}" class="menu-img" alt="">
          <div class="menu-content">
            <a href="#">Lobster Roll</a><span>$12.95</span>
          </div>
          <div class="menu-ingredients">
            Enjoy succulent lobster, creamy mayo, and fresh lettuce in our Roll
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Menu Section -->


     <!-- ======= About Section ======= -->
     <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{% static 'img/about.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>TableFinder is located just steps away from a legendary NYC attraction.</h3>
        <p class="fst-italic">
          Discover the perfect blend of classic Midtown charm and energetic NYC energy at our restaurant.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> Reserve our private dining room or dine in our elegant 130-seat 
            dining room for an unforgettable experience.</li>
          <li><i class="bi bi-check-circle"></i> The high ceilings, mahogany walls, and leather banquets at TableFinder work
             together to create a rich and welcoming atmosphere.</li>
          <li><i class="bi bi-check-circle"></i> Beyond the grand wooden entrance lies an inviting oak wood bar and a corridor adorned with
             oversized circular banquettes, setting the stage for a truly luxurious dining experience.</li>
        </ul>
        <p>
          "We're thrilled to have been awarded Trip Advisor's 2023 "Travelers' Choice Best of the Best Award,"
           placing us in the top 10% worldwide. Additionally,our extensive wine selection has been recognized
            with Wine Spectator's Award of Excellence for its significant vintage depth and breadth across multiple regions."
        </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What they're saying about us</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Wonderful atmosphere with a friendly and clean environment this place gets all time busy
                  The moment you approach the entrance The food and drinks were absolutely delicious great choice for couples and families
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Definitely reserve a table in advance, as this place tends to get quite busy. The unique atmosphere
                   is apparent as soon as you approach the entrance, and once inside, the music and lighting
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  By far the best restaurant we have been to in years! I'm already looking forward to my next visit to New York just to dine there again
                  you'll feel the special vibe that sets this place apart. Once inside, the music, very good
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I highly recommend this restaurant for both couples and families. The ambiance is wonderful and the
                   food is excellentand the food is cooked to perfection - I always recommend the cheesecake 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The ambience at this eatery is simply fantastic, exuding 
                  a genuine New York vibe. The service is top-notch and the dishes are prepared flawlessly - don't miss out on the cheesecake, it's a must-try
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">

  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Gallery</h2>
      <p>Some photos from Our Restaurant</p>
    </div>
  </div>

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

    <div class="row g-0">

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'img/gallery/gallery-1.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'img/gallery/gallery-2.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'img/gallery/gallery-3.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'img/gallery/gallery-4.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'img/gallery/gallery-5.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'img/gallery/gallery-6.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'img/gallery/gallery-7.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="{% static 'img/gallery/gallery-8.jpg' %}" class="gallery-lightbox" data-gall="gallery-item">
            <img src="{% static 'img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">
          </a>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Gallery Section -->

<!-- ======= Chefs Section ======= -->
<section id="chefs" class="chefs">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Chefs</h2>
      <p>Our Proffesional Chefs</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="100">
          <img src="{% static 'img/chefs/chefs-1.jpg' %}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Walter White</h4>
              <span>Master Chef</span>
            </div>
            <div class="social">
              <a href="http://www.twitter.com" target="_blank" rel="noopener"
                aria-label="Join our Twitterpage (opens in a new tab)" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="http://www.facebook.com" target="_blank" rel="noopener"
                aria-label="Join our Facebookpage (opens in a new tab)" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="http://www.instagram.com" target="_blank" rel="noopener"
                aria-label="Join our Instagrampage (opens in a new tab)" class="instagram"><i
                  class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'img/chefs/chefs-2.jpg' %}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Sarah Jhonson</h4>
              <span>Patissier</span>
            </div>
            <div class="social">
              <a href="http://www.twitter.com" target="_blank" rel="noopener"
                aria-label="Join our Twitterpage (opens in a new tab)" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="http://www.facebook.com" target="_blank" rel="noopener"
                aria-label="Join our Facebookpage (opens in a new tab)" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="http://www.instagram.com" target="_blank" rel="noopener"
                aria-label="Join our Instagrampage (opens in a new tab)" class="instagram"><i
                  class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="member" data-aos="zoom-in" data-aos-delay="300">
          <img src="{% static 'img/chefs/chefs-3.jpg' %}" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>William Anderson</h4>
              <span>Cook</span>
            </div>
            <div class="social">
              <a href="http://www.twitter.com" target="_blank" rel="noopener"
                aria-label="Join our Twitterpage (opens in a new tab)" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="http://www.facebook.com" target="_blank" rel="noopener"
                aria-label="Join our Facebookpage (opens in a new tab)" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="http://www.instagram.com" target="_blank" rel="noopener"
                aria-label="Join our Instagrampage (opens in a new tab)" class="instagram"><i
                  class="bi bi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Chefs Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contact</h2>
      <p>Contact Us</p>
    </div>
  </div>

  <div class="container" data-aos="fade-up">

    <div class="row mt-5">

      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>

          <div class="open-hours">
            <i class="bi bi-clock"></i>
            <h4>Open Hours:</h4>
            <p>
              Monday-Saturday:<br>
              11:00 AM - 2300 PM
            </p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>info@example.com</p>
          </div>

          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+1 5589 55488 55s</p>
          </div>

        </div>

       </div>

      </div>

    </div>

</section><!-- End Contact Section -->

{% endblock %}